repos:
  - repo: local
    hooks:
      - id: black-autofix
        name: "Black (autofix)"
        entry: bash -c 'cd back && source venv/bin/activate && black src/; exit 0'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: isort-autofix
        name: "isort (autofix)"
        entry: bash -c 'cd back && source venv/bin/activate && isort src/; exit 0'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: flake8-check
        name: "Flake8 (check)"
        entry: bash -c 'cd back && source venv/bin/activate && flake8 src/; exit 0'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint-check
        name: "ESLint (check)"
        entry: bash -c 'cd front && npm run lint; exit 0'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: pytest-check
        name: "Pytest (check)"
        entry: bash -c 'cd back && source venv/bin/activate && if [ -d tests ] && [ "$(ls -A tests)" ]; then pytest; fi; exit 0'
        language: system
        pass_filenames: false

default_install_hook_types: [pre-commit]
fail_fast: false
