services:
  back:
    build:
      context: ./back
    ports:
      - "8888:8888"
    networks:
      - app-network
  front:
    build: ./front
    ports:
      - "88:88"
    volumes:
      - ./front:/app
    stdin_open: true
    tty: true

networks:
  app-network:
    driver: bridge

