services:
  back:
    build:
      context: ./back
    ports:
      - "8888:8888"
    networks:
      - app-network

  front:
    build:
      context: ./front
    ports:
      - "88:80"
    depends_on:
      - back
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

