# Database Configuration
# These values work with the default docker-compose.yml configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=devfriend
DB_USER=devfriend
DB_PASSWORD=devfriend
# Generate a new one with: python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
DEVFRIEND_ENCRYPTION_KEY=qRh6J2wkERU_4ImYtK_9WhcZPxMFEQP4o8pcTGV_Drk=
# Integrations
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SLACK_REDIRECT_URI=https://localhost:8888/auth/slack/callback
GITHUB_REDIRECT_URI=https://localhost:8888/auth/github/callback
# JWT
JWT_SECRET_KEY=asdfjñsdkflj12341234
